<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eric's Weather App</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Welcome to Eric's Weather App!</h1>
    <br>
    <form action="/">
        <label>City
            <input type="text" name="city" id="city">
        </label>
        <input type="submit" value="Get Weather">
    </form>
</body>
</html>